In [210]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm

from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

In [122]:
train_set_original_path = '/home/adeliaherlisa/Documents/s2/2018 genap/machine learning/TK Akhir/datasets/balancedData/balancedValidation.csv'
train_original_data = pd.read_csv(train_set_original_path, sep=',')
train_original_data.head()

,id,ncd_0,ncd_1,ncd_2,ncd_3,ncd_4,ncd_5,ncd_6,ai_0,ai_1,...,bl_5,bl_6,adl_0,adl_1,adl_2,adl_3,adl_4,adl_5,adl_6,y
0,0,846,1194,1135,1370,1335,1332,1307,398,617,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1
1,1,17167,6762,686,13559,12716,14654,16596,5026,2321,...,0.997821,0.998316,1.041335,1.059849,1.143687,1.034567,1.031805,1.047256,1.040544,1
2,2,600,621,782,691,820,834,744,270,277,...,0.992857,0.993324,1.132890,1.088000,1.103666,1.096126,1.156553,1.121429,1.154873,1
3,3,418,491,375,363,460,604,467,213,216,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1
4,4,265,220,351,272,334,282,447,139,166,...,1.000000,0.988938,1.289474,1.371041,1.189802,1.334545,1.154762,1.102837,1.168142,1

In [123]:
path = '/home/adeliaherlisa/Documents/s2/2018 genap/machine learning/TK Akhir/result/stacking/'

train_set_path = path+'pred-train-stacking-dtc45-all.csv'
train_data = pd.read_csv(train_set_path, sep=',', header=None)
train_data.head()

   0  1  2  3  4  5  6  7  8  9
0  1  1  1  1  1  1  1  1  1  1
1  1  1  1  1  1  1  1  1  1  1
2  1  1  1  1  1  1  1  1  1  1
3  1  1  1  1  1  1  1  1  1  1
4  1  1  1  1  1  1  1  1  1  1

In [124]:
test_set_original_path = '/home/adeliaherlisa/Documents/s2/2018 genap/machine learning/TK Akhir/datasets/balancedData/balancedDataTest.csv'
test_original_data = pd.read_csv(test_set_original_path, sep=',')
test_original_data.head()

,id,ncd_0,ncd_1,ncd_2,ncd_3,ncd_4,ncd_5,ncd_6,ai_0,ai_1,...,bl_5,bl_6,adl_0,adl_1,adl_2,adl_3,adl_4,adl_5,adl_6,y
0,0,472,393,478,502,390,433,386,198,207,...,0.988584,0.994845,1.126582,1.205584,1.084536,1.071287,1.104326,1.589041,1.917526,1
1,1,478,475,465,587,472,1623,758,268,203,...,0.996929,0.996058,2.190476,1.885417,1.908316,1.722504,1.905063,1.042998,1.110381,1
2,2,165,62,74,569,1384,1395,992,128,49,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1
3,3,151,106,256,241,184,208,876,116,77,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1
4,4,183,88,65,187,156,173,824,152,69,...,1.000000,1.000000,1.054645,1.022727,1.030769,1.010695,1.044586,1.034682,1.047330,1

In [125]:
test_set_path = path+'pred-test-stacking-dtc45-all.csv'
test_data = pd.read_csv(test_set_path, sep=',', header=None)
test_data.head()

   0  1  2  3  4  5  6  7  8  9
0  1  0  1  1  1  1  1  1  1  1
1  1  1  1  1  1  1  1  1  1  1
2  1  1  0  1  0  1  1  0  0  1
3  0  1  1  1  1  1  1  1  1  1
4  1  0  1  1  1  1  1  0  1  1

In [233]:
# init metaclassifier

metaLogReg = LogisticRegression().fit(train_data, train_original_data['y'])
metaLinReg = LinearRegression().fit(train_data, train_original_data['y'])
metaMNB = MultinomialNB().fit(train_data, train_original_data['y'])
metaKNN = KNeighborsClassifier().fit(train_data, train_original_data['y'])
metaSVM = svm.SVC(gamma='scale', kernel='rbf').fit(train_data, train_original_data['y'])
metaMLP = MLPClassifier(activation='relu', solver='adam', alpha=1e-5, hidden_layer_sizes=(5, 5), random_state=1).fit(train_data, train_original_data['y'])

In [234]:
# predict testing data

predictionLogReg = metaLogReg.predict(test_data)
print(str(round(accuracy_score(test_original_data['y'], predictionLogReg)*100, 2))
      + "\t" + str(round(precision_score(test_original_data['y'], predictionLogReg)*100, 2)) 
      + "\t" + str(round(recall_score(test_original_data['y'], predictionLogReg)*100, 2))
      + "\t" + str(round(f1_score(test_original_data['y'], predictionLogReg)*100, 2))
     )

predictionLinReg = metaLinReg.predict(test_data)
print(str(round(accuracy_score(test_original_data['y'], predictionLinReg.round())*100, 2))
      + "\t" + str(round(precision_score(test_original_data['y'], predictionLinReg.round())*100, 2)) 
      + "\t" + str(round(recall_score(test_original_data['y'], predictionLinReg.round())*100, 2))
      + "\t" + str(round(f1_score(test_original_data['y'], predictionLinReg.round())*100, 2))
     )

predictionMLP = metaMLP.predict(test_data)
print(str(round(accuracy_score(test_original_data['y'], predictionMLP)*100, 2))
      + "\t" + str(round(precision_score(test_original_data['y'], predictionMLP)*100, 2)) 
      + "\t" + str(round(recall_score(test_original_data['y'], predictionMLP)*100, 2))
      + "\t" + str(round(f1_score(test_original_data['y'], predictionMLP)*100, 2))
     )

predictionMNB = metaMNB.predict(test_data)
print(str(round(accuracy_score(test_original_data['y'], predictionMNB)*100, 2))
      + "\t" + str(round(precision_score(test_original_data['y'], predictionMNB)*100, 2)) 
      + "\t" + str(round(recall_score(test_original_data['y'], predictionMNB)*100, 2))
      + "\t" + str(round(f1_score(test_original_data['y'], predictionMNB)*100, 2))
     )

predictionKNN = metaKNN.predict(test_data)
print(str(round(accuracy_score(test_original_data['y'], predictionKNN)*100, 2))
      + "\t" + str(round(precision_score(test_original_data['y'], predictionKNN)*100, 2)) 
      + "\t" + str(round(recall_score(test_original_data['y'], predictionKNN)*100, 2))
      + "\t" + str(round(f1_score(test_original_data['y'], predictionKNN)*100, 2))
     )

predictionSVM = metaSVM.predict(test_data)
print(str(round(accuracy_score(test_original_data['y'], predictionSVM)*100, 2))
      + "\t" + str(round(precision_score(test_original_data['y'], predictionSVM)*100, 2)) 
      + "\t" + str(round(recall_score(test_original_data['y'], predictionSVM)*100, 2))
      + "\t" + str(round(f1_score(test_original_data['y'], predictionSVM)*100, 2))
     )

95.21	95.23	95.18	95.2
95.16	95.22	95.09	95.15
95.22	94.99	95.48	95.23
91.05	91.9	90.03	90.96
92.91	90.54	95.84	93.11
95.13	94.87	95.42	95.14

In [ ]:
activation='relu', solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(7, 7)
95.07	94.72	95.45	95.09

activation='relu', solver='adam', alpha=1e-5, hidden_layer_sizes=(7, 7)
95.13	94.87	95.43	95.15

activation='relu', solver='adam', alpha=1e-5, hidden_layer_sizes=(10, 10)
95.18	94.72	95.68	95.2

activation='relu', solver='adam', alpha=1e-5, hidden_layer_sizes=(5, 5)
95.22	94.99	95.48	95.23